body {
    background-color:beige;
}

h1, ul {
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    text-align: center;
    color: olive;
    padding: 12px;
}

ul {
    text-decoration: none;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
    margin: 0 auto;
    list-style: none;   
}

a {
    text-decoration: none;
    color: olive;
    text-align: center;
}